<section class="about-container">
  <h2 class="section-title">O mnie</h2>
  <div class="about-content-container" id="about" smoothScroll>
    <div class="about-image-container">
    </div>
    <div class="about-content">
      <!-- <h2 *ngIf="true">O mnie</h2> -->
      <p *ngIf="true">
          W mojej twórczości zajmuje się zgłębianiem wizualnych i sensualnych wartości otaczających mnie przedmiotów, sytuacji,
          świata oraz tego, jak przetwarzam je zarówno świadomie, jak i biernie. Główną inspiracją dla moich realizacji jest moja 
          własna percepcja, gra skojarzeniowa. Usiłuję przełożyć sferę snów i wspomnieo na intuicyjny język plastyczny. Sztuka ma 
          dla mnie działanie autoterapeutyczne, za jej pomocą tworzę coś w rodzaju mapy własnego układu nerwowego. W moich asamblażach 
          wykorzystuję malarstwo, fotografię, szycie oraz przedmioty, zarówno te zwyczajne, codziennego użytku, jak i te osobiste, m. 
          in. pamiątki z różnych okresów życia. Moja relacja z wykorzystywanym przedmiotem czy wizerunkiem fotograficznym jest medium 
          artystycznym, nadającym mojej pracy pożądany przeze mnie wymiar intymności i autentyczności. Moje wytwory są szczerą próbą 
          nawiązania porozumienia z samą sobą i światem wokół mnie. Podejmuję tematy ściśle mnie dotykające i autobiograficzne. 
      </p>
      <!-- <h2 *ngIf="false">About</h2> -->
      <p *ngIf="false">
          In my artistic creation, I am engaged in exploring visual and sensual values of objects, situations and the world surrounding 
          me and how I process them both consciously-actively and passively.  The main inspiration for my works is my own perception, 
          associations. I try to transfer a field of dreams and memories into intuitive vivid language. For me the art has an self-therapeutic 
          function with which I create something like a map of own nervous system. In my assemblages I use painting, photography, sewing 
          and objects both ordinary everyday use objects and personal ones i.e. memorabilia coming from different periods of life. My 
          relation with an object or photographic image used is an art medium, giving the required dimension of intimacy and authenticity 
          to my work. My works are sincere attempts to reach an agreement with myself and the world around me. I take up the subjects 
          closely touching me and autobiographic ones. 
      </p>
    </div>
  </div>
</section>
