<div class="work-modal-container">
  <div class="work-images">
    <div class="work-images__item" *ngFor="let image of work.image_file">
        <cl-image
          [public-id]="'arp/'+image"
          class="thumbnail inline" 
          format="jpg">
          <cl-transformation 
            [attr.width]="width"
            [attr.height]="height"
            crop="fit">
          </cl-transformation>
        </cl-image>
    </div>
  </div>
  <div class="work-info">
    <div class="work-info-text">
        <h3>{{ this.work.name.pl }}</h3>
        <p>{{ this.work.type.pl }}</p>
        <p>{{ this.work.size }}cm</p>
        <p>{{ this.work.year }}</p>
    </div>
  </div>
</div>
<button class="work-modal-hide-btn" (click)="this.hideModal()">
  <i class="fa fa-times" aria-hidden="true"></i>
</button>