@black: #000;
@dark-gray: #0c0c0c;
@white: #fcfcfc;
@gold: #826336;

@primary: @black;
@secondary: @dark-gray;
@font-color: @white;
@title-color: @gold;

@background-pattern: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");

@font-family: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: @font-family;
}

.header {
    color: @font-color;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    @media screen and (min-width: 800px) {
        right: 20px;
    }

    &-navbar {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 30px;
        opacity: 0.8;
        background-color: #0a0505;
        background-image: @background-pattern;
        color: @title-color;
        border-bottom: 10px solid @title-color;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;

        @media screen and (max-width: 800px) {
            width: 100vw;
            opacity: 1;
            padding-bottom: 10px;
        }

        &:hover {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            opacity: 1;
        }

        &> i {
            color: @title-color;
            font-size: 30px;
            padding: 20px 60px 0 60px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            transition: all 1.5s;
            cursor: pointer;

            &-item {
                padding: 10px 0;
                text-transform: uppercase;
            }
        }
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 60px;
    font-size: 40px;
    background: @primary;
    color: @title-color;

    @media screen and (max-width: 800px) {
        padding: 40px 0;
        font-size: 30px;
    }
}

.home {
    &-container {
        width: 100vw;
        height: 100vh;
        background: url('./assets/home-background.jpg');
        background-size: cover;

        @media screen and (max-width: 800px) {
            background: url('./assets/home-background-mobile.jpg');
            background-size: cover;
        }
    }

    &-content {
        width: 100%;
        height: 100%;
        background-color: #0a0505;
        background-image: @background-pattern;
        color: @title-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 100px;
        opacity: 0.8;

        @media screen and (max-width: 800px) {
            padding: 20px;
            justify-content: flex-end;
        }


        @media screen and (min-width: 800px) {
            -webkit-clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
            clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            transition: all 1.5s;
        }

        &:hover {
            @media screen and (min-width: 800px) {
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                -webkit-clip-path: polygon(0 0, 65% 0, 30% 100%, 0% 100%);
                clip-path: polygon(0 0, 65% 0, 30% 100%, 0% 100%); 
                opacity: 1;
            }
        } 

        &>* {
            padding: 20px;
            text-transform: uppercase;

            @media screen and (max-width: 800px) {
                padding: 10px;
            }
        }

        &> h1 {
            font-size: 70px;
            max-width: 50vw;

            @media screen and (max-width: 1366px) {
                font-size: 60px;
            }

            @media screen and (max-width: 800px) {
                font-size: 40px;
                max-width: 100vw;
            }

            @media screen and (max-width: 400px) {
                font-size: 30px;
            }
        }

        &> p {
            font-size: 40px;

            @media screen and (max-width: 1366px) {
                font-size: 35px;
            }

            @media screen and (max-width: 800px) {
                font-size: 30px;
            }

            @media screen and (max-width: 400px) {
                font-size: 20px;
            }
        }

        &::after {
            background: @title-color;
            width: 50px;
            height: 20px;
            margin: 20px;
            content: '';
            
            @media screen and (max-width: 800px) {
                width: 40px;
                height: 10px;
                margin: 10px;
            }
        }
    }
}

.about {
    &-container {
        width: 100vw;
    }

    &-content-container {
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #0a0505;
        background-image: @background-pattern;

        @media screen and (max-width: 1160px) {
            flex-direction: column;
        }

        &:before {
            width: 50px;
            height: 650px;
            opacity: 0.7;
            background: @primary;
            content: '';
            border-right: 0;

            @media screen and (max-width: 1440px) {
                width: 30px;
                height: 500px;
            }

            @media screen and (max-width: 1160px) {
                display: none;
            }
        }
    }

    &-image-container {
        width: 800px;
        height: 800px;
        background: url('./assets/about-background.jpg');
        background-size: cover;
        border: 5px solid @primary;

        @media screen and (max-width: 1440px) {
            width: 600px;
            height: 600px;
        }

        @media screen and (max-width: 1160px) {
            display: none;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 650px;
        max-width: 40vw;
        padding: 50px;
        background: @primary;
        color: @title-color;
        font-size: 1.09vw;
        line-height: 1.5;
        word-spacing: 10px;
        opacity: 0.7;
        border-left: 0;
        text-align: justify;

        @media screen and (max-width: 1440px) {
            max-width: 600px;
            height: 500px;
            padding: 40px;
        }

        @media screen and (max-width: 1160px) {
            max-height: 500px;
            max-width: 60vw;
            font-size: 1.4vw;
            padding: 30px 50px;

        }

        &> h2 {
            width: 100%;

            @media screen and (max-width: 1160px) {
                text-align: center;
                font-size: 25px;
            }
        }
    }
}

.portfolio {
    &-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    // &-title {
    //     width: 100%;
    //     text-align: center;
    //     padding: 100px;
    //     font-size: 50px;
    //     background: @primary;
    //     color: @title-color;

    //     @media screen and (max-width: 800px) {
    //         padding: 50px 0;
    //         font-size: 30px;
    //     }
    // }

    &-works-container {
        background-color: #0a0505;
        background-image: @background-pattern;
        padding: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: 800px) {
            padding: 20px;
        }
    }
}

.work {
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        min-width: 30%;
        margin: 20px;
    }

    &-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__item {
            &:not(:first-child) {
                margin-left: 10px;
            }            
        }
    }

    &-info {
        width: 100%;
        height: 180px;
        background: @primary;
        color: @title-color;
        font-size: 22px;
        line-height: 1.5;
        opacity: 0.7;
        margin-top: 6px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &:before {
            content: '';
            width: 8px;
            height: 130px;
            background: @title-color;
            margin-right: 20px;
        }
    }
}
